<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">首页</span>
    </div>
</nav>
<div id="he-plugin-standard"></div>
<p th:text="${time}"></p>
<script>
    WIDGET = {
        "CONFIG": {
            "layout": "2",
            "width": 345,
            "height": 405,
            "background": "1",
            "dataColor": "FFFFFF",
            "borderRadius": "5",
            "key": "c65d7229ce2e4ee38920f50e96d1e505"
        }
    }
</script>
<script src="https://widget.qweather.net/standard/static/js/he-standard-common.js?v=2.0"></script>
</body>
</html>
